[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
solc-select = "*"
slither-analyzer = {file = "slither"}
setuptools = "*"
grip = "*"

[dev-packages]

[requires]
python_version = "3.12"
